<!DOCTYPE html>
<html lang="{{Locale}}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>F**K WRLD</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600&display=swap" rel="stylesheet">
  </head>
  <style type="text/css">
    html {
      /* font-family: 'IBM Plex Sans Arabic', sans-serif; */
    }
    h1,h2,h3,h4,h5,h6 {
      margin:0 !important
    }
    p,a {
      font-size: 13px;
    }
  </style>
  <body>
    <h1>F**K WRLD</h1>
    <h3> Welcome to basic flask scaffolding by RF. Made for production. </h3>
    <br />
    Flask Version : {{flask_v}}
    <br />
    Locale : {{Locale}}
    <br />
    Host : {{host}}

  </body>
</html>
